/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}
/* end of Josh's reset */

/* My CSS */
:root {
	font-size: 16px;

	/* Font size scale */
	--f-xs: 0.75rem; /* 12px */
	--f-s: 1rem; /* 16px */
	--f-m: 1.25rem; /* 20px */
	--f-l: 2.5rem; /* 40px */
	--f-xl: 3rem; /* 48px */

	/* Spacing scale */
	--space-xs: 0.25rem; /* 4px */
	--space-s: 0.5rem; /* 8px */
	--space-m: 1rem; /* 16px */
	--space-l: 2rem; /* 32px */
	--space-xl: 3rem; /* 48px */

	--bg: #303f46;
	--input-bg: #333a3d;
	--img-bg: #59c49c;

	--text-color-light: #f1f2f6;
	--text-color-dark: #1d2630;

	--border-color: #6a7b83;

	--btn-color: #ffc727;

	--focus-color: #ffe391;
	--success-color: #33f56d;
	--error-color: #ff6b6b;
}

body {
	color: var(--text-color-light);
	background: var(--bg);
	display: flex;
	min-height: 100vh;
	font-size: var(--f-s);
}

a {
	color: var(--text-color-light);
	font-size: var(--f-s);
}

a:hover {
	text-decoration: none;
}

.img-container,
.form-container {
	padding: var(--space-m);
	min-height: 100vh;
	display: flex;
	justify-content: center;
}

/* Image */
.img-container {
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
	background: var(--img-bg);
}

.img-container > h1 {
	font-size: var(--f-xl);
}

.img-wrapper {
	text-align: center;
}

/* Form */
.form-container {
	flex: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-content {
	display: flex;
	flex-direction: column;
	padding: var(--space-l);
	gap: var(--space-m);
}

.form-content > h1 {
	font-size: var(--f-l);
}

.form-group-wrapper {
	display: flex;
	flex-direction: column;
	gap: var(--space-l);
}
.form-group {
	display: flex;
	gap: var(--space-xl);
}
/* Input */
.input-wrapper {
	flex: 1;
}

.input-hint {
	margin: var(--space-xs) var(--space-m);
	font-size: var(--f-xs);
}

.checkbox-wrapper,
.account-wrapper {
	display: flex;
	align-items: baseline;
	gap: var(--space-s);
	margin-left: var(--space-xs);
}

.checkbox-wrapper label,
.checkbox-wrapper a {
	font-size: var(--f-xs);
}

.checkbox-wrapper {
	margin-bottom: var(--space-m);
}

.checkbox {
	width: fit-content;
}

input {
	color: var(--text-color-light);
	background-color: var(--input-bg);
	outline: 2px solid var(--border-color);
	border: none;
	border-radius: 5px;
	padding: var(--space-s) var(--space-m);
	/* prevents default min-width, which can cause overflow */
	width: 100%;
}

button {
	color: var(--text-color-dark);
	background: var(--btn-color);
	transition: background-color 0.2s ease;
	border: none;
	border-radius: 5px;
	padding: var(--space-s) var(--space-l);
}

button:hover {
	background: var(--focus-color);
	cursor: pointer;
}

/* Form validation UI */
input:not(:placeholder-shown):valid {
	outline: 3px solid var(--success-color);
}

input:not(:placeholder-shown):invalid {
	outline: 3px solid var(--error-color);
}

input:focus:invalid {
	outline: 2px solid var(--focus-color);
}

.checkbox:not(:placeholder-shown):invalid {
	outline: none;
}

.checkbox:not(:placeholder-shown):valid {
	outline: none;
	accent-color: var(--success-color);
}
