@import url('https://fonts.googleapis.com/css2?family=Huninn&display=swap');

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}
/* end of Josh's reset */

/* My CSS */
:root {
	font-size: 16px;

	/* Font size scale */
	--f-xs: 0.75rem; /* 12px */
	--f-s: 1rem; /* 16px */
	--f-m: 1.25rem; /* 20px */
	--f-l: 2.5rem; /* 40px */
	--f-xl: 3rem; /* 48px */

	/* Spacing scale */
	--space-xs: 0.25rem; /* 4px */
	--space-s: 0.5rem; /* 8px */
	--space-m: 1rem; /* 16px */
	--space-l: 2rem; /* 32px */
	--space-xl: 3rem; /* 48px */

	/* Colors  */
	--text-color-light: #ffffff;
	--text-color-dark: #002147;

	--darker-color: #333a3d;
	--dark-color: #303f46;
	--gray-color: #6a7b83;

	--aquagreen-color: #8bdfc0;
	--yellow-color: #ffc727;

	--btn-background: #ffc52762;
	--focus-color: #ffe391;
	--success-color: #33f56d;
	--error-color: #ff6b6b;
}

body {
	font-family: 'Huninn', sans-serif;
	color: var(--text-color-light);
	background: var(--dark-color);
	font-size: var(--f-s);
	display: flex;
	min-height: 100vh;
}
a {
	color: inherit;
}
a:hover {
	text-decoration: none;
}

aside,
main {
	display: flex;
	justify-content: center;
}

/* left side*/
aside {
	flex: 1;
	min-width: 280px;
	background: var(--aquagreen-color);
	color: var(--text-color-dark);
	padding: var(--space-m);
}

.aside-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: var(--space-m);
	width: 90%;
	text-align: center;
}

.brand-name {
	font-size: var(--f-xl);
	letter-spacing: 2px;
	margin-left: var(--space-m);
	text-align: left;
}

.aside-text {
	color: var(--text-color-dark);
	font-weight: 600;
	margin: 0 auto;
	width: 85%;
}

/* Form area*/
main {
	flex: 2;
	padding: var(--space-l);
}

form {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	min-width: 460px;
}

.form-content {
	display: flex;
	flex-direction: column;
	gap: var(--space-l);
}

.form-content > h1 {
	font-size: var(--f-l);
}

.form-group-wrapper {
	display: flex;
	flex-direction: column;
	gap: var(--space-l);
}
.form-group {
	display: flex;
	gap: var(--space-xl);
}

/* Input */
.input-wrapper {
	flex: 1;
}

.input-hint {
	margin: var(--space-xs) var(--space-m);
	font-size: var(--f-xs);
}

/* form footer */
.checkbox {
	width: fit-content;
}

.checkbox-wrapper,
.create-account-btn {
	margin-bottom: var(--space-m);
}

input {
	color: var(--text-color-light);
	background-color: var(--darker-color);
	outline: 2px solid var(--gray-color);
	border: none;
	border-radius: 5px;
	padding: var(--space-s) var(--space-m);
	/* prevents default min-width, which can cause overflow */
	width: 100%;
}

.btn-create-account {
	font-weight: bold;
	background: none;
	border-radius: 5px;
	padding: var(--space-s) var(--space-m);
	margin-bottom: var(--space-m);
	color: var(--yellow-color);
	border: 2px solid var(--yellow-color);
	transition: background 0.2s;
}

.sign-in {
	margin-left: var(--space-s);
	text-decoration: underline 2px;
	font-weight: bold;
}

.btn-create-account:hover {
	cursor: pointer;
	background: var(--btn-background);
	color: var(--text-color-dark);
}

.sign-in:hover {
	color: var(--aquagreen-color);
	text-decoration: none;
	cursor: pointer;
}

/* Form validation UI */
input:not(:placeholder-shown):valid {
	outline: 3px solid var(--success-color);
}

input:not(:placeholder-shown):invalid {
	outline: 3px solid var(--error-color);
}

input:focus:invalid {
	outline: 2px solid var(--focus-color);
}

.checkbox:not(:placeholder-shown):invalid {
	outline: none;
}

.checkbox:not(:placeholder-shown):valid {
	outline: none;
	accent-color: var(--success-color);
}
